In [9]:
# -- LIST

# Kumpulan data angka
data_angka = [1, 5, 2, 3]
print(data_angka)

# Kumpulan data string
data_string = ["aku", "dia", "kita"]
print(data_string)

#Kumpulan data boolean
data_boolean = [True, False, True, False]
print(data_boolean)

# Kumpulan campuran
data_campuran = [1, "bakwan", 2, "cireng", 3, "adit"]
print(data_campuran)

# Cara alternatif membuat list
data_range = range(0, 11, 1) #(start, stop, interval)
print(data_range)
data_list = list(data_range)
print(data_list)

# Membuat list menggunakan for
list_for = [i ** 2 for i in range(0, 10, 2)]
print(list_for)

# Membuat list menggunakan for pake if
list_for_if = [i for i in range (0, 11) if i !=2]
print(list_for_if)

# Buat list menggunakan for tapi yang akan tampil hanya jika angkanya genap

list_for_if = [i for i in range(0, 101)if i %2 == 0]
print(list_for_if)

# Buat list menggunakan for tapi yang akan tampil hanya jika angkanya ganjil

list_for_if = [i for i in range(0, 101)if i %2 != 0]
print(list_for_if)

[1, 5, 2, 3]
['aku', 'dia', 'kita']
[True, False, True, False]
[1, 'bakwan', 2, 'cireng', 3, 'adit']

Manipulasi list

Operasi list

In [12]:
data_angka = [1,7,3,6,0,4,5,4,2,7,9,7,2,3,1]
print(data_angka)
print(f"panjang data {len(data_angka)}")

# count data
jumlah_data_4 = data_angka.count(4)
print(f"jumlah data angka 4 adalah {jumlah_data_4}")

# ambil posisi/index
data = ["Rendi", "Iqbal", "Gana", "Khairil"]
print(data)
index_iqbal = data.index("Iqbal")
print(f"Index si Iqbal = {index_iqbal} ")

# mengurutkan list dari terkecil ke terbesar
data_angka.sort()
print(f"data angka sort = \n{data_angka}")

# urutkan data string
data.sort()
print(f"data string sort = \n{data}")

# membalikkan data / reverse
data_angka.reverse()
print(f"data angka reverse = \n{data_angka}")

# membalikkan data string
data.reverse()
print(f"data string reverse = \n{data}")

[1, 7, 3, 6, 0, 4, 5, 4, 2, 7, 9, 7, 2, 3, 1]
panjang data 15
jumlah data angka 4 adalah 2
['Rendi', 'Iqbal', 'Gana', 'Khairil']
Index si Iqbal = 1
data angka sort =
[0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 9]
data string sort =
['Gana', 'Iqbal', 'Khairil', 'Rendi']
data angka reverse =
[9, 7, 7, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0]
data string reverse =
['Rendi', 'Khairil', 'Iqbal', 'Gana']

Nested List / List Bersarang

In [7]:
data_0 = [1,2]
data_1 = [3,4]
data_list_biasa = [1,2,3,4]
print(f'list biasa = {data_list_biasa}')

list_2D = [data_0, data_1, 6,7]
print(f'list 2D = {list_2D}')
# contoh penggunaan
peserta_0 = ["Rendi", 25, "Laki-laki"]
peserta_1 = ["Joni", 10, "Laki-laki"]
peserta_2 = ["Eka", 50, "Wanita"]
list_peserta = [peserta_0, peserta_1, peserta_2]
print(f"peserta = {list_peserta}")
for peserta in list_peserta:
  print(f"nama\t : {peserta[0]}")
  print(f"umur\t : {peserta[1]}")
  print(f"Gender\t  : {peserta[2]}\n")

list biasa = [1, 2, 3, 4]
list 2D = [[1, 2], [3, 4], 6, 7]
peserta = [['Rendi', 25, 'Laki-laki'], ['Joni', 10, 'Laki-laki'], ['Eka', 50, 'Wanita']]
nama	 : Rendi
umur	 : 25
Gender	  : Laki-laki

nama	 : Joni
umur	 : 10
Gender	  : Laki-laki

nama	 : Eka
umur	 : 50
Gender	  : Wanita

In [ ]:
# Manipulasi data pada list

# Index   0        1        2        3
data = ["Ucup", "Adit", "Dudung", "Anin"]
data_0 = data[-1]
print(data_0)

# Data index (mines) itu digunakan untuk menampilkan data mulai dari yang terakhir

# Mengambil info pannjang jumlah data
panjang_data = len(data)
print(f"panjang data adalah {panjang_data}")

# Manipulasi data
# Menambahkan item pada list sesuai dengan posisi
print(f"data sebelum ditambah: {data}")

# data.insert(posisi, item)
data.insert(0, "Asep")
print(f"data sebelum ditambah: {data}")

# Menambahkan item di terakhir
data.append("Ririn")
print(f"data sebelum ditambah: {data}")

#Menambahkan list
data_baru = ["Luffy", "Zorro", "Nami", "Robbin"]
data.extend(data_baru)
print(f"data setelah digabung: {data}")

# Merubah data
# Kita merubah data index ke 4
# print(data[4])
data[4] = "Rendi"
print(f"data setelah diubah: {data}")

# Menghapus data
data.remove("Dudung")
print(f"data setelah dihapus: {data}")

# Menghapus data paling belakang
data.pop()
print(f"data hapus akhir: {data}")

data[1] = "Mlue"
print(f"data setelah diubah: {data}")

Anin
panjang data adalah 4
data sebelum ditambah: ['Ucup', 'Adit', 'Dudung', 'Anin']
data sebelum ditambah: ['Asep', 'Ucup', 'Adit', 'Dudung', 'Anin']
data sebelum ditambah: ['Asep', 'Ucup', 'Adit', 'Dudung', 'Anin', 'Ririn']
data setelah digabung: ['Asep', 'Ucup', 'Adit', 'Dudung', 'Anin', 'Ririn', 'Luffy', 'Zorro', 'Nami', 'Robbin']
data setelah diubah: ['Asep', 'Ucup', 'Adit', 'Dudung', 'Rendi', 'Ririn', 'Luffy', 'Zorro', 'Nami', 'Robbin']
data setelah dihapus: ['Asep', 'Ucup', 'Adit', 'Rendi', 'Ririn', 'Luffy', 'Zorro', 'Nami', 'Robbin']
data hapus akhir: ['Asep', 'Ucup', 'Adit', 'Rendi', 'Ririn', 'Luffy', 'Zorro', 'Nami']
data setelah diubah: ['Asep', 'Mlue', 'Adit', 'Rendi', 'Ririn', 'Luffy', 'Zorro', 'Nami']

Tugas pertemuan 9

In [ ]:
# 1.Diberikan list berikut:
# buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
# a. Tambahkan 'semangka' di akhir list
# b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
# c. Hapus 'mangga' dari list
# d. Ubah 'pisang' menjadi 'nanas'
# e. Tampilkan 3 buah pertama


buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
data_0 = buah
print(data_0)

data.append('semangka')
print(f'data setelah ditambah: {data_0}')

['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
data setelah ditambah: ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']

In [13]:
data_angka = [1,7,3,6,0,4,5,4,2,7,9,7,2,3,1]
print(data_angka)
print(f"panjang data {len(data_angka)}")

# count data
jumlah_data_4 = data_angka.count(4)
print(f"jumlah data angka 4 adalah {jumlah_data_4}")

# ambil posisi/index
data = ["Rendi", "Iqbal", "Gana", "Khairil"]
print(data)
index_iqbal = data.index("Iqbal")
print(f"Index si Iqbal = {index_iqbal} ")

# mengurutkan list dari terkecil ke terbesar
data_angka.sort()
print(f"data angka sort = \n{data_angka}")

# urutkan data string
data.sort()
print(f"data string sort = \n{data}")

# membalikkan data / reverse
data_angka.reverse()
print(f"data angka reverse = \n{data_angka}")

# membalikkan data string
data.reverse()
print(f"data string reverse = \n{data}")

[1, 7, 3, 6, 0, 4, 5, 4, 2, 7, 9, 7, 2, 3, 1]
panjang data 15
jumlah data angka 4 adalah 2
['Rendi', 'Iqbal', 'Gana', 'Khairil']
Index si Iqbal = 1
data angka sort =
[0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 6, 7, 7, 7, 9]
data string sort =
['Gana', 'Iqbal', 'Khairil', 'Rendi']
data angka reverse =
[9, 7, 7, 7, 6, 5, 4, 4, 3, 3, 2, 2, 1, 1, 0]
data string reverse =
['Rendi', 'Khairil', 'Iqbal', 'Gana']