In [26]:
buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
# print(buah)

# a. Tambahkan 'semangka' di akhir list
buah.append('semangka')
print("Setelah menambah 'semangka':", buah)

# b. Sisipkan 'durian' di antara "jeruk' dan 'anggur'
buah.insert(3, 'durian')
print("Setelah menyisipkan 'durian' :", buah)

# c. Hapus 'mangga' dari list
buah.remove('mangga')
print("Setelah menghapus 'mangga':", buah)

# d. Ubah 'pisang' menjadi 'nanas'
buah[4] = 'nanas'
print("Setelah mengubah 'pisang menjadi 'nanas':", buah)

# e. Tampilkan 3 buah pertama

Setelah menambah 'semangka': ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']
Setelah menyisipkan 'durian' : ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
Setelah menghapus 'mangga': ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']
Setelah mengubah 'pisang menjadi 'nanas': ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']

In [33]:
buah = ['apel', 'mangga', 'jeruk', 'anggur', 'pisang']
# print(buah)

# a. Tambahkan 'semangka' di akhir list
buah.append('semangka')
print(f"setelah menambahkan 'semangka': {buah}\n")


# b. Sisipkan 'durian' di antara 'jeruk' dan 'anggur'
buah.insert(3,'durian')
print(f"Setelah menyisipkan 'durian': {buah}\n")


# c. Hapus 'mangga' dari list
buah.remove('mangga')
print(f"Setelah menghapus 'mangga': {buah}\n")


# d. Ubah 'pisang' menjadi 'nanas'
buah[4] = 'nanas'
print(f"Setelah mengubah 'pisang menjadi 'nanas': {buah}\n")


# e. Tampilkan 3 buah pertama
buah_0 = buah[:3]
print(f"Setelah menampilkan 3 buah pertama : {buah_0}")

setelah menambahkan 'semangka': ['apel', 'mangga', 'jeruk', 'anggur', 'pisang', 'semangka']

Setelah menyisipkan 'durian': ['apel', 'mangga', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

Setelah menghapus 'mangga': ['apel', 'jeruk', 'durian', 'anggur', 'pisang', 'semangka']

Setelah mengubah 'pisang menjadi 'nanas': ['apel', 'jeruk', 'durian', 'anggur', 'nanas', 'semangka']

Setelah menampilkan 3 buah pertama : ['apel', 'jeruk', 'durian']

In [39]:
angka = [45, 12, 78, 23, 56, 89, 34]
print(f"daftar angka : {angka}\n")

# ascending (dari terkecil ke terbesar)
angka.sort()
print(f"ascending : {angka}")

# descending (dari terbesar ke terkecil)
angka.reverse()
print(f"descending : {angka}")

daftar angka : [45, 12, 78, 23, 56, 89, 34]

ascending : [12, 23, 34, 45, 56, 78, 89]
descending : [89, 78, 56, 45, 34, 23, 12]